.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 0;

}

.navbar a {
  text-decoration: none;
  color: #333;
  flex: none;
  width: auto;
  height: 100%;
  padding: 0 15px;
}
